export(Gltf, extractTexture, readglTF, readGLB, as.gltf, as.mesh3d, as.rglscene,
       showtree, playgltf, plot3d, transformBBox, writeglTF, writeGLB, findName)

importFrom("jsonlite", "read_json")
importFrom("rgl", "as.rglscene",
           "asEuclidean", "asEuclidean2", "asHomogeneous", "asHomogeneous2",
           "as.tmesh3d",
           "cube3d", "getr3dDefaults",
           "as.mesh3d", "material3d", "mesh3d",
           "par3d", "plot3d", "rgl.primitive",
           "rotationMatrix", "scale3d", "scaleMatrix",
           "translate3d", "translationMatrix",
           "rotate3d", "shapelist3d", "Buffer")
importFrom("grDevices", "col2rgb", "rgb", "xyz.coords")
importFrom("utils", "packageVersion")
importFrom("tools", "file_ext")
importFrom("R6", "R6Class")
importFrom("base64enc", "dataURI")
importFrom("stats", "approxfun")

S3method("plot3d", "gltf")
S3method("as.mesh3d", "gltf")

S3method("as.gltf", "default")
S3method("as.gltf", "mesh3d")
S3method("as.gltf", "shapelist3d")

S3method("as.gltf", "rglobject")
S3method("as.gltf", "rglscene")

S3method("as.rglscene", "gltf")

S3method("merge", "rglobject")

S3method("showtree", "gltf")
S3method("showtree", "rglscene")
